<!DOCTYPE html>
<html>

    <head>
        <title>Fluxchat</title>

        <link href="css/${ data.cssFileName }" type="text/css" rel="stylesheet">

        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body ng-app="fluxchat">
        Hello World
    </body>

    <script src="${ data.jsFileName }"></script>
</html>
