<!DOCTYPE html>
<html>

    <head>
        <title>Fluxchat</title>

        <link href="${ data.cssFileName }" type="text/css" rel="stylesheet">

        <script type="text/javascript">
            /* global window */
            window.fluxchat = {
                hostPrefix: '${ data.hostPrefix }'
            };
        </script>

        <script src="${ data.hostPrefix }socket.io/socket.io.js"></script>
    </head>

    <body ng-app="fluxchat">
        Hello World
    </body>

    <script src="${ data.jsFileName }"></script>
</html>
